<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{board.title}}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">LOGOUT</a>
        </nav> -->
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{board.title}}</span>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent logout-btn"
            (click)="logout()">Logout</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            (click)="backToWorkspace()">Back to Workspace</button>
        <!-- <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href=""></a>
      </nav> -->
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <div class="add-btn-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    (click)="openTaskCreateView()">Add Ticket</button>
            </div>


            <div class="task-main-container">
                <!------ to do ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>To do</span>
                    </div>
                    <div class="card-container" id="todo" (drop)="moveTo('Todo')" (dragover)="allowDrop($event)">
                        <div *ngIf="isNotDraggedTodo">
                            <div class="card" *ngFor="let ticket of todoTickets" id='{{ticket.id}}'
                                (click)="openDetailView(ticket.id)" draggable="true"
                                (dragstart)="startDragging($event,ticket.id)">
                                <div class="one-row">
                                    <div class="c-title"><span>{{ticket.title}}</span></div>
                                    <div><span>{{ticket.time_till_due}}</span></div>
                                </div>
                                <div class="c-description"><span>{{ticket.description}}</span></div>
                                <div class="one-row">
                                    <div class="c-assigned-container">
                                        <div class="c-margin" *ngFor="let assigned of ticket.assigned_to">
                                            <div class="c-assigned">{{assigned}}</div>
                                        </div>
                                    </div>

                                    <div class="c-prio"
                                        [ngClass]="{'c-low': ticket.priority === 'Low', 'c-middle': ticket.priority === 'Middle', 'c-high': ticket.priority === 'High'}">
                                        <span>{{ticket.priority}}</span>
                                    </div>
                                </div>
                                <span>Subtasks {{ticket.subtasks.length}}</span>
                            </div>
                        </div>

                    </div>
                </div>

                <!------ in progress ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>In Progress</span>
                    </div>
                    <div class="card-container" id="progress" (drop)="moveTo('In Progress')"
                        (dragover)="allowDrop($event)">
                        <div class="card" [class.hide]="isDraggedProgress" *ngFor="let ticket of progressTickets"
                            id='{{ticket.id}}' (click)="openDetailView(ticket.id)" draggable="true"
                            (dragstart)="startDragging($event, ticket.id)">
                            <div class="one-row">
                                <div class="c-title"><span>{{ticket.title}}</span></div>
                                <div><span>{{ticket.time_till_due}}</span></div>
                            </div>
                            <div class="c-description"><span>{{ticket.description}}</span></div>
                            <div class="one-row">
                                <div class="c-assigned-container">
                                    <div class="c-margin" *ngFor="let assigned of ticket.assigned_to">
                                        <div class="c-assigned">{{assigned}}</div>
                                    </div>
                                </div>

                                <div class="c-prio"
                                    [ngClass]="{'c-low': ticket.priority === 'Low', 'c-middle': ticket.priority === 'Middle', 'c-high': ticket.priority === 'High'}">
                                    <span>{{ticket.priority}}</span>
                                </div>
                            </div>
                            <span>Subtasks {{ticket.subtasks.length}}</span>
                        </div>
                    </div>
                </div>

                <!------ awaiting feedback ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>Awaiting Feedback</span>
                    </div>
                    <div class="card-container" id="feedback" (drop)="moveTo('Awaiting Feedback')"
                        (dragover)="allowDrop($event)">
                        <div class="card" [class.hide]="isDraggedAwait" *ngFor="let ticket of awaitTickets"
                            id='{{ticket.id}}' (click)="openDetailView(ticket.id)" draggable="true"
                            (dragstart)="startDragging($event, ticket.id)">
                            <div class="one-row">
                                <div class="c-title"><span>{{ticket.title}}</span></div>
                                <div><span>{{ticket.time_till_due}}</span></div>
                            </div>
                            <div class="c-description"><span>{{ticket.description}}</span></div>
                            <div class="one-row">
                                <div class="c-assigned-container">
                                    <div class="c-margin" *ngFor="let assigned of ticket.assigned_to">
                                        <div class="c-assigned">{{assigned}}</div>
                                    </div>
                                </div>

                                <div class="c-prio"
                                    [ngClass]="{'c-low': ticket.priority === 'Low', 'c-middle': ticket.priority === 'Middle', 'c-high': ticket.priority === 'High'}">
                                    <span>{{ticket.priority}}</span>
                                </div>
                            </div>
                            <span>Subtasks {{ticket.subtasks.length}}</span>
                        </div>
                    </div>
                </div>

                <!------ done ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>Done</span>
                    </div>
                    <div class="card-container" id="done" (drop)="moveTo('Done')" (dragover)="allowDrop($event)">
                        <div *ngIf="isNotDraggedDone">
                            <div class="card" *ngFor="let ticket of doneTickets" id='{{ticket.id}}'
                                (click)="openDetailView(ticket.id)" draggable="true"
                                (dragstart)="startDragging($event, ticket.id)">
                                <div class="one-row">
                                    <div class="c-title"><span>{{ticket.title}}</span></div>
                                    <div><span>{{ticket.time_till_due}}</span></div>
                                </div>
                                <div class="c-description"><span>{{ticket.description}}</span></div>
                                <div class="one-row">
                                    <div class="c-assigned-container">
                                        <div class="c-margin" *ngFor="let assigned of ticket.assigned_to">
                                            <div class="c-assigned">{{assigned}}</div>
                                        </div>
                                    </div>

                                    <div class="c-prio"
                                        [ngClass]="{'c-low': ticket.priority === 'Low', 'c-middle': ticket.priority === 'Middle', 'c-high': ticket.priority === 'High'}">
                                        <span>{{ticket.priority}}</span>
                                    </div>
                                </div>
                                <span>Subtasks {{ticket.subtasks.length}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- card detail view popup -->
        <app-card-detail-view *ngIf="detailView" (detailView)="closeDetailView($event)" [ticketId]="ticketId"
            (editView)="openEditView($event)"></app-card-detail-view>

        <!-- add task popup -->
        <app-add-ticket *ngIf="addTask" [allUsers]="allUsers" [boardId]="boardId"
            (addTask)="closeAddTaskView($event)"></app-add-ticket>

        <!-- edit ticket popup -->
        <app-edit-ticket *ngIf="editView" (editView)="closeEditView($event)" (addSubtask)="openAddSubtaskView($event)"
            [ticketId]="ticketId" [allUsers]="allUsers" [boardId]="boardId"></app-edit-ticket>

        <!-- add subtask popup -->
        <app-add-subtask *ngIf="addSubtask" [ticketId]="ticketId" (addSubtask)="closeAddSubtaskView($event)"
            [allUsers]="allUsers"></app-add-subtask>
    </main>
</div>