.logout-btn {
    margin-bottom: 30px;
}

// board

.page-content {
    padding: 50px;
    background-color: #F6F7F8;
    min-height: 92.25vh;
    box-sizing: border-box;
}

.highlight {
    background-color: #F4F5F6 !important;
}

.task-main-container {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media(max-width: 870px) {
        flex-direction: column;
        align-items: center;
    }
}

.task-sub-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    min-height: 500px;
    border-right: 1px solid #3F51B5;
    border-left: 1px solid #3F51B5;

    @media(max-width: 870px) {
        width: 100%;
        border-left: none;
        border-right: none;
        min-height: 50px;
        overflow: scroll;
        border-bottom: 1px solid #3F51B5;
        margin-top: 20px;
    }
}

.container-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: #3F51B5;
    font-size: 18px;

    @media(max-width: 870px) {
        font-weight: 700;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    height: 100%;
    padding: 10px;
}

.highlight {
    background-color: #E9EBED !important;
}


// card style
.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color:white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.04);
    cursor: pointer;
}

.one-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.c-title {
    background-color: #3F51B5;
    color: white;
    max-width: 100px;
    border-radius: 10px;
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
}

.c-description {
    color: rgba(0,0,0,0.4);
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-assigned-container {
    display: flex;
    width: 75%;
}

.c-assigned {
    border-radius: 100%;
    color: white;
    font-size: 12px;
    background-color: #FF4081;
    padding: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-left: -5px;
}

.c-prio {
    width:fit-content;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: #3F51B5;
    color: white;
}

.c-low {
    // background-image: url('^assets/img/low.png');
    background-color: #70A054;
}

.c-middle {
    background-color: #F0A202;
    color: black;
}

.c-high {
    background-color: #F00216;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;

    @media(max-width: 870px) {
        justify-content: center;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotatez(5deg);
 }