.logout-btn {
    margin-bottom: 30px;
}

// board

.page-content {
    padding: 50px;
    background-color: #F6F7F8;
    min-height: 92.25vh;
    box-sizing: border-box;
}

.task-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    // background-color: aqua;
}

.task-sub-container {
    // position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    min-height: 500px;
    border-right: 1px solid #3F51B5;
    border-left: 1px solid #3F51B5;
    // background-color: yellow;
}

.container-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: #3F51B5;
    font-size: 18px;
    // background-color: aqua;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    // border-radius: 30px;
    height: 100%;
    padding: 10px;
    // background-color:antiquewhite;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color:white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.04);
    cursor: pointer;
}

.one-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
    // background-color: aqua;
}

.c-title {
    background-color: #3F51B5;
    color: white;
    // min-width: fit-content;
    max-width: 100px;
    border-radius: 10px;
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
}

.c-description {
    color: rgba(0,0,0,0.4);
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    // color: grey;
}

.c-assigned-container {
    display: flex;
    width: 75%;
    // background-color: chartreuse;
}

.c-assigned {
    border-radius: 100%;
    color: white;
    font-size: 12px;
    background-color: #FF4081;
    padding: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-left: -5px;
}

.c-prio {
    width:fit-content;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: #3F51B5;
    color: white;
}

.c-low {
    // background-image: url('^assets/img/low.png');
    background-color: #70A054;
}

.c-middle {
    background-color: #F0A202;
    color: black;
}

.c-high {
    background-color: #F00216;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.hide {
    display: none;
}

// card detail view pop up

// .pop-up-container {
//     position: absolute;
//     top: 0;
//     right: 0;
//     background-color: #F6F7F8;
//     width: 100%;
//     height: 92.25vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 5;
//     box-sizing: border-box;
//     cursor: pointer;
// }

// .popUp-content-container {
//     background-color: white;
//     width: 500px;
//     height: 500px;
//     border-radius: 10px;
//     padding: 20px;
//     box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.04);
//     cursor: default;
// }

// .dv-margin-bottom {
//     margin-bottom: 16px;
// }

// .dv-margin8 {
//     margin-bottom: 8px;
// }

// .dv-close-container {
//     display: flex;
//     justify-content: flex-end;
// }

// .dv-title {
//     font-size: 25px;
//     font-weight: 700;
//     color:#3F51B5;
// }

// .dv-description {
//     color: rgba(0,0,0,0.4);
//     margin-bottom: 24px;
// }

// .dv-dd-container {
//     display: flex;
// }

// .dv-dd-title {
//     width: 25%;
// }

// .dv-dd-date {
//     width: 75%;
// }

// .dv-assigned {
//     display: flex;
//     margin-left: 25px;
// }

// .dv-subtask-container {
//     margin-top: 16px;
// }

// .dv-subtask {
//     display: flex;
//     margin-left: 25px;
// }

// .dv-btn-container{
//     display: flex;
//     justify-content: flex-end;
// }

// .dv-btn-line {
//     margin-left: 8px;
//     margin-right: 8px;
// }



