<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">MyBoard: {{board.title}}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">LOGOUT</a>
        </nav> -->
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{board.title}}</span>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent logout-btn"
            (click)="logout()">Logout</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            (click)="backToWorkspace()">Back to Workspace</button>
        <!-- <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href=""></a>
      </nav> -->
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <div class="add-btn-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="openTaskCreateView()">Add Ticket</button>
            </div>


            <div class="task-main-container">
                <!------ to do ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>To do</span>
                    </div>
                    <div class="card-container" id="todo">
                        <div class="card" *ngFor="let ticket of todoTickets" id='{{ticket.id}}'
                            (click)="openDetailView(ticket.id)">
                            <div class="one-row">
                                <div class="c-title"><span>{{ticket.title}}</span></div>
                                <div><span>{{ticket.time_till_due}}</span></div>
                            </div>
                            <div class="c-description"><span>{{ticket.description}}</span></div>
                            <div class="one-row">
                                <div class="c-assigned-container">
                                    <div class="c-margin" *ngFor="let assigned of ticket.assigned_to">
                                        <div class="c-assigned">{{assigned}}</div>
                                    </div>
                                </div>

                                <div class="c-prio"
                                    [ngClass]="{'c-low': ticket.priority === 'Low', 'c-middle': ticket.priority === 'Middle', 'c-high': ticket.priority === 'High'}">
                                    <span>{{ticket.priority}}</span>
                                </div>
                            </div>


                            <span>Subtasks {{ticket.subtasks.length}}</span>
                        </div>
                    </div>
                </div>

                <!------ in progress ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>In Progress</span>
                    </div>
                    <div class="card-container" id="progress">
                    </div>
                </div>

                <!------ awaiting feedback ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>Awaiting Feedback</span>
                    </div>
                    <div class="card-container" id="feedback">
                    </div>
                </div>

                <!------ done ------>
                <div class="task-sub-container">
                    <div class="container-headline">
                        <span>Done</span>
                    </div>
                    <div class="card-container" id="done">
                    </div>
                </div>
            </div>
        </div>


        <!-- card detail view popup -->
        <app-card-detail-view *ngIf="detailView" (detailView)="closeDetailView($event)"
            [ticketId]="ticketId" (editView)="openEditView($event)"></app-card-detail-view>
        
        <!-- add task popup -->
        <app-add-ticket *ngIf="addTask" [allUsers]="allUsers" [boardId]="boardId" (addTask)="closeAddTaskView($event)"></app-add-ticket>

        <!-- edit ticket popup -->
        <app-edit-ticket *ngIf="editView" (editView)="closeEditView($event)" (addSubtask)="openAddSubtaskView($event)"
            [ticketId]="ticketId"></app-edit-ticket>
        
        <!-- add subtask popup -->
        <app-add-subtask *ngIf="addSubtask"
            [ticketId]="ticketId"></app-add-subtask>

        <!-- <div *ngIf="detailView" class="pop-up-container" (click)="closeDetailView()">
            <div class="popUp-content-container" (click)="doNotClose($event)">
                <div class="dv-close-container">
                    <div (click)="closeDetailView()">X</div>
                </div>

                <div class="dv-title dv-margin-bottom">{{currentTicket.title}}</div>

                <div class="dv-description">{{currentTicket.description}}</div>

                <div class="dv-dd-container dv-margin-bottom">
                    <div class="dv-dd-title">Due date:</div>
                    <div class="dv-dd-date">{{currentTicket.due_date}}</div>
                </div>

                <div class="dv-dd-container dv-margin-bottom">
                    <div class="dv-dd-title">Priority:</div>
                    <div class="dv-dd-date">{{currentTicket.priority}}</div>
                </div>

                <div class="dv-margin8">Assigned to:</div>
                <div *ngFor="let member of currentTicket.assigned_to" class="dv-assigned dv-margin8">
                    <div>{{member}}</div>
                </div>

                <div class="dv-margin8 dv-subtask-container">Subtasks:</div>
                <div *ngFor="let subtask of subtasks" class="dv-subtask dv-margin8">
                    <input type="checkbox">
                    <div>{{subtask.title}}</div>
                </div>
                
                <div class="dv-btn-container">
                    <div>Delete</div>
                    <div class="dv-btn-line">|</div>
                    <div>Edit</div>
                </div>
            </div>
        </div> -->
    </main>
</div>