.content-container-register {
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 50px;

    @media(max-width: 699px) {
        flex-direction: column;
    }
}

.left-container-register {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    margin-right: 50px;

    @media(max-width: 699px) {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-right: 0;
    }
}

.text-container-register {
    margin-bottom: 50px;
    font-size: 25px;

    span {
        color: #3F51B5; 
        font-weight: bold;
    }
}

.kenben-register {
    @media(max-width: 449px) {
        width: 150px;
    }
}

.right-container-register {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;

    @media(max-width: 699px) {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left: 0;
        flex-direction: column;
    }
}

.form-register {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    @media(max-width: 699px) {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.mdl-textfield__input {
    width: 80%;
}

.btn {
    margin-top: 30px;
}

.bck-btn {
    position: absolute;
    top: 50px;
    right: 50px;

    @media(max-width: 699px) {
        position: static;
        margin-top: -10px;
    }
}