<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">WORKSPACE</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">LOGOUT</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">MY BOARDS</span>
    <nav class="mdl-navigation" *ngFor="let board of boards">
      <span>{{board.title}}</span>
      <!-- <a class="mdl-navigation__link" href="">{{board.title}}</a> -->
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      <div class="board-list">
        <!-- <div *ngFor="let board of boards">
          <span>{{board.title}}</span>
        </div> -->

        <ul class="demo-list-item mdl-list">
          <li class="mdl-list__item" *ngFor="let board of boards">
            <span class="mdl-list__item-primary-content">
              {{board.title}}
            </span>
          </li>
          <li class="mdl-list__item" *ngFor="let newBoard of newBoards">
            <span class="mdl-list__item-primary-content">
              {{newBoard}}
            </span>
          </li>
        </ul>
      </div>

      <div class="create-container">
        <form (ngSubmit)="createBoard()">
          <!-- <input type="text" name="title" [(ngModel)]="title" id='titlefield' required> -->
          <div class="create">
            <span class="title">New Board</span>

            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" name="title" [(ngModel)]="title" required>
              <label class="mdl-textfield__label" for="sample1">name...</label>
            </div>
          </div>

          <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create</button>
        </form>
      </div>
    </div>
  </main>
</div>