<div class="pop-up-container" (click)="closeEditView()">
    <div class="popUp-content-container" (click)="doNotClose($event)">
        <div class="dv-close-container">
            <div (click)="closeEditView()">X</div>
        </div>

        <form (ngSubmit)="editTicket()">
            <div class="">
                <input class="" type="text" name="title" [(ngModel)]="new_ticket_title" placeholder="{{currentTicket.title}}">
                <label class="" for="sample1">title...</label>
            </div>

            <!-- <div class="dv-title dv-margin-bottom">{{currentTicket.title}}</div> -->

            <div class="">
                <input class="" type="text" name="description" [(ngModel)]="new_ticket_description" placeholder="{{currentTicket.description}}">
                <label class="" for="sample1">description... (optional)</label>
                <input type="checkbox" (change)="clearDescription($event)">
                <label class="" for="sample1">delete description</label>
            </div>

            <!-- <div class="dv-description">{{currentTicket.description}}</div> -->

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-dd-title">Due date:</div>
                <div class="dv-dd-date"></div>
                <input type="date" [(ngModel)]="new_ticket_dueDate" name="due-date">
                <label>{{currentTicket.due_date}}</label>
            </div>

            <!-- <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-dd-title">Due date:</div>
                <div class="dv-dd-date">{{currentTicket.due_date}}</div>
            </div> -->

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-margin8">Priority:</div>
                <div class="dv-dd-date">{{currentTicket.priority}}</div>
                <div class="dv-assigned dv-margin8">
                    <input type="radio" name="prio" value="Low" (change)="getPrioValue($event)">
                    <!-- hier Low großgeschrieben, weil auch im Model groß -->
                    <label for="low">Low</label>
                    <input type="radio" name="prio" value="Middle" (change)="getPrioValue($event)">
                    <label for="middle">Middle</label>
                    <input type="radio" name="prio" value="High" (change)="getPrioValue($event)">
                    <label for="high">High</label>
                </div>
            </div>

            <!-- <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-dd-title">Priority:</div>
                <div class="dv-dd-date">{{currentTicket.priority}}</div>
            </div> -->

            <div class="dv-margin8">Assigned to:</div>
            <div *ngFor="let member of currentTicket.assigned_to" class="dv-assigned dv-margin8">
                <div>{{member}}</div>
            </div>
            <div class="dv-assigned dv-margin8" *ngFor="let user of allUsers, let i = index">
                <input type="checkbox" id="assigned-{{i}}" (change)="getAssignedValue(user, i, $event)" name="assignedUser{{i}}">
                <label>{{user['username']}}</label>
            </div>

            <!-- <div class="dv-margin8">Assigned to:</div>
            <div *ngFor="let member of currentTicket.assigned_to" class="dv-assigned dv-margin8">
                <div>{{member}}</div>
            </div> -->

            <div class="dv-margin8 dv-subtask-container">Subtasks:</div>
            <div *ngFor="let subtask of subtasks" class="dv-subtask dv-margin8">
                <input type="checkbox" (click)="checkSubtask($event, subtask.id)" [checked]="subtask.checked">
                <label>{{subtask.title}}</label>
            </div>

            <span style="font-size: 36px;" (click)="openAddSubtask()">+</span>
            <!-- <div class="dv-subtask dv-margin8">
                <div class="new-subtask-container" *ngFor="let input of newSubtaskFields, let i = index">
                    <input type="text" name="new-subtask-{{i}}" id="new-subtask-{{i}}">
                    <span style="font-size: 36px;" (click)="removeSubtaskField(i)">-</span>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" (click)="createSubtask(i)">Save</button>
                </div>
            </div> -->

            <div class="dv-btn-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" [disabled]="formControl">Save</button>
            </div>
        </form>

    </div>
</div>