<div class="pop-up-container" (click)="closeEditView()">
    <div class="popUp-content-container" (click)="doNotClose($event)">
        <div class="dv-close-container">
            <div (click)="closeEditView()">X</div>
        </div>

        <form (ngSubmit)="editTicket()">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="title" [(ngModel)]="new_ticket_title"
                    placeholder="{{currentTicket.title}}">
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="description" [(ngModel)]="new_ticket_description"
                    placeholder="{{currentTicket.description}}">
                <input class="dv-description" type="checkbox" (change)="clearDescription($event)">
                <label class="" for="sample1">delete description</label>
            </div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-dd-title">Due date:</div>
                <input type="date" [(ngModel)]="new_ticket_dueDate" name="due-date" value="{{currentTicket.due_date}}">
            </div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-margin8">Priority:</div>
                <div class="dv-assigned dv-margin8">
                    <input type="radio" name="prio" value="Low" (change)="getPrioValue($event)" [checked]="checked_low">
                    <!-- hier Low großgeschrieben, weil auch im Model groß -->
                    <label for="low">Low</label>
                    <input type="radio" name="prio" value="Middle" (change)="getPrioValue($event)"
                        [checked]="checked_middle">
                    <label for="middle">Middle</label>
                    <input type="radio" name="prio" value="High" (change)="getPrioValue($event)"
                        [checked]="checked_high">
                    <label for="high">High</label>
                </div>
            </div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-margin8 dv-dd-title">Status:</div>
                <div class="dv-status dv-margin8">
                    <div>
                        <input type="radio" name="status" value="Todo" (change)="getStatusValue($event)"
                            [checked]="checked_todo">
                        <!-- hier Todo großgeschrieben, weil auch im Model groß -->
                        <label for="todo">Todo</label>
                        <input type="radio" name="status" value="In Progress" (change)="getStatusValue($event)"
                            [checked]="checked_progress">
                        <label for="progress">In Progress</label>
                    </div>

                    <div>
                        <input type="radio" name="status" value="Awaiting Feedback" (change)="getStatusValue($event)"
                            [checked]="checked_feedback">
                        <label for="await">Awaiting Feedback</label>
                        <input type="radio" name="status" value="Done" (change)="getStatusValue($event)"
                            [checked]="checked_done">
                        <label for="done">Done</label>
                    </div>
                </div>
            </div>

            <div class="dv-margin8">Assigned to:</div>
            <div class="assigned-container">
                <span>Current assigned to:</span>
                <div class="dv-assigned-to">
                    <div *ngFor="let member of currentTicket.assigned_to_usernames" class="dv-margin8">
                        <div style="margin-right: 8px;">{{member}}</div>
                    </div>
                </div>


                <div class="dv-assigned dv-margin8" *ngFor="let user of allUsers, let i = index">
                    <input type="checkbox" id="assigned-{{i}}" (change)="getAssignedValue(user, i, $event)"
                        name="assignedUser{{i}}">
                    <label>{{user['username']}}</label>
                </div>
            </div>

            <div class="dv-margin8 dv-subtask-container">Subtasks:</div>
            <div class="assigned-container">
                <div *ngFor="let subtask of subtasks" class="dv-subtask dv-margin8">
                    <input type="checkbox" (click)="checkSubtask($event, subtask.id)" [checked]="subtask.checked">
                    <label>{{subtask.title}}</label>
                    <button class="delete-btn" (click)="deleteSubtask(subtask.id)">DELETE</button>
                </div>
            </div>

            <span class="plus-btn" (click)="openAddSubtask()">+</span>

            <div class="dv-btn-container">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" [disabled]="formControl">Save</button>
            </div>
        </form>
    </div>
</div>