<div class="pop-up-container" (click)="closeAddTicket()">
    <div class="popUp-content-container" (click)="doNotClose($event)">
        <div class="dv-close-container">
            <div (click)="closeAddTicket()">X</div>
        </div>

        <form (ngSubmit)="createTicket()">
            <div class="">
                <input class="" type="text" name="title" [(ngModel)]="new_title">
                <label class="" for="sample1">title...</label>
            </div>

            <div class="">
                <input class="" type="text" name="description" [(ngModel)]="new_description">
                <label class="" for="sample1">description... (optional)</label>
            </div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-dd-title">Due date:</div>
                <div class="dv-dd-date"></div>
                <input type="date" [(ngModel)]="new_dueDate" name="due-date">
            </div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-margin8">Priority:</div>
                <div class="dv-assigned dv-margin8">
                    <input type="radio" name="prio" value="Low" (change)="getPrioValue($event)">
                    <!-- hier Low großgeschrieben, weil auch im Model groß -->
                    <label for="low">Low</label>
                    <input type="radio" name="prio" value="Middle" (change)="getPrioValue($event)">
                    <label for="middle">Middle</label>
                    <input type="radio" name="prio" value="High" (change)="getPrioValue($event)">
                    <label for="high">High</label>
                </div>
            </div>

            <div class="dv-margin8">Assigned to:</div>
            <div class="dv-assigned dv-margin8" *ngFor="let user of allUsers, let i = index">
                <input type="checkbox" id="assigned-{{i}}" (change)="getAssignedValue(user, i, $event)" name="assignedUser{{i}}">
                <label>{{user['username']}}</label>
            </div>

            <div class="dv-margin8 dv-subtask-container">Subtasks:</div>
            <div class="dv-subtask dv-margin8">
                <input type="checkbox">
                <div>Mehrere</div>
            </div>

            <div class="dv-btn-container">
                <button
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" [disabled]="formControl">Save</button>
            </div>
        </form>
    </div>
</div>