<div class="pop-up-container" (click)="closeAddTicket()">
    <div class="popUp-content-container" (click)="doNotClose($event)">
        <div class="dv-close-container">
            <div (click)="closeAddTicket()">X</div>
        </div>

        <form (ngSubmit)="createTicket()">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="title" [(ngModel)]="new_title">
                <label class="mdl-textfield__label" for="sample1">title...</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="description" [(ngModel)]="new_description">
                <label class="mdl-textfield__label" for="sample1">description... (optional)</label>
            </div>

            <div>creator = user</div>
            <div>created at = today</div>
            <div>Status Todo</div>
            <div>board = current board</div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-dd-title">Due date:</div>
                <div class="dv-dd-date"></div>
            </div>

            <div class="dv-dd-container dv-margin-bottom">
                <div class="dv-margin8">Priority:</div>
                <div class="dv-assigned dv-margin8">
                    <input type="checkbox" name="low" [(ngModel)]="checkbox_low" [disabled]="isDisabledLow" (change)="getPrioValue()">
                    <label for="low">Low</label>
                    <input type="checkbox" name="middle" [disabled]="isDisabledMiddle" [(ngModel)]="checkbox_middle" (change)="getPrioValue()">
                    <label for="middle">Middle</label>
                    <input type="checkbox" name="high" [disabled]="isDisabledHigh" [(ngModel)]="checkbox_high" (change)="getPrioValue()">
                    <label for="high">High</label>
                </div>
            </div>

            <div class="dv-margin8">Assigned to:</div>
            <div class="dv-assigned dv-margin8" *ngFor="let user of allUsers">
                <input type="checkbox" id="assigned-{{user['id']}}" (change)="getUserValue(user['username'])">
                <label>{{user['username']}}</label>
            </div>

            <div class="dv-margin8 dv-subtask-container">Subtasks:</div>
            <div class="dv-subtask dv-margin8">
                <input type="checkbox">
                <div>Mehrere</div>
            </div>

            <div class="dv-btn-container">
                <button
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" [disabled]="formControl">Save</button>
            </div>
        </form>
    </div>
</div>